.prev-round,
.next-round {
	// z-index: 10;
	cursor: pointer;
	position: absolute;
	top: -46px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	border: 1px solid $colorText;
	border-radius: 50%;
	&::after,
	&::before {
		content: '';
		position: relative;
		width: 10px;
		height: 2px;
		border-radius: 2px;
		background-color: $colorText;
	}
	&.swiper-button-disabled {
		cursor: auto;
		pointer-events: none;
		border-color: $colorLight;
		&::after,
		&::before {
			background-color: $colorLight;
		}
	}
}

.prev-round {
	right: 48px;
	&::before {
		bottom: 3px;
		left: 5px;
		transform: rotate(-45deg);
	}
	&::after {
		top: 3px;
		right: 5px;
		transform: rotate(45deg);
	}
}
.next-round {
	right: 0;
	&::before {
		bottom: 3px;
		left: 5px;
		transform: rotate(45deg);
	}
	&::after {
		top: 3px;
		right: 5px;
		transform: rotate(-45deg);
	}
}
