.offer {
	width: 100%;
	&__container {
		overflow: hidden;
	}

	&__title-wrapper {
		display: flex;
		align-items: center;
		margin: 39px 0 36px 0;
	}

	&__title {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-left: 8px;
	}

	&__span-desktop {
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	&__span-mobile {
		@media (min-width: $md2+px) {
			display: none;
		}
	}

	&__attention {
		width: 28px;
		height: 28px;
		background-image: url(/img/icons/base/promo.svg);
	}

	&__swiper {
		padding-bottom: 80px;
	}

	&__swiper-container {
	}

	&__card {
	}
}
.card {
	transition: border-color 0.3s ease-in;
	display: grid;
	grid-template-columns: auto 85px;
	grid-template-rows: 168px minmax(80px, auto) minmax(40px, auto) 32px 0;
	align-items: center;
	min-height: 329px;
	padding: 0 8px 7px 8px;
	border: 1px solid $colorLight;
	border-radius: 8px;
	&:hover {
		border-color: $colorMainHover;
	}
	@media (min-width: $md1+px) {
		&:hover {
			grid-template-rows: 168px minmax(80px, auto) minmax(40px, auto) 32px auto;
			& .card__characters {
				padding-top: 10px;
				visibility: visible;
				opacity: 1;
				height: auto;
				row-gap: 2px;
			}
			& .card__name-characters {
				margin-top: 6px;
			}
		}
	}
	@media (max-width: $md2+px) {
		grid-template-rows: 120px minmax(88px, auto) minmax(40px, auto) 28px 0;
		grid-template-columns: auto 40px;
		min-height: 285px;
		&:hover {
			// grid-template-rows: 120px minmax(88px, auto) minmax(40px, auto) 28px auto;
		}
	}
	&__img {
		grid-column: span 2;
		width: 100%;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__name {
		align-self: start;
		grid-column: span 2;
		padding: 8px 0 24px 0;
		@media (max-width: $md2+px) {
			font-size: 12px;
			line-height: 16px;
			padding: 12px 0;
		}
	}

	&__prices {
	}

	&__old-price {
		font-size: 12px;
		line-height: 16px;
		text-decoration: line-through;
		color: $colorTextGray;
	}

	&__new-price {
		// align-self: start;
		font-size: 22px;
		line-height: 24px;
		font-weight: 700;
		// grid-column: 1/2;
		@media (max-width: $md2+px) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__button {
		font-size: 12px;
		line-height: 16px;
		grid-column: 2/3;
		padding: 11px 16px;
		@media (max-width: $md2+px) {
			width: 40px;
			height: 40px;
			padding: 0;
			border-width: 2px;
			&:hover {
				background-color: $colorTextLight;
			}
		}
		&._icon-basket-fill::before {
			font-size: 20px;
		}
		&._added {
			@media (min-width: $md2+px) {
				display: none;
				& + .card__quantity {
					display: flex;
				}
			}
			@media (max-width: $md2+px) {
				background-color: $colorMainHover;
				&::before {
					color: $colorTextLight;
				}
			}
		}
	}

	&__quantity {
		display: none;
	}

	&__in-stock {
		font-size: 12px;
		line-height: 16px;
		grid-column: span 2;
		display: flex;
		align-items: center;
		margin-top: 16px;
		@media (max-width: $md2+px) {
			margin-top: 12px;
		}
	}

	&__car {
		width: 16px;
		height: 16px;
		background: url(/img/icons/base/delivery.svg);
		margin-right: 4px;
	}

	&__characters {
		transition: all 0.3s ease-out;
		font-size: 12px;
		line-height: 16px;
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		height: 0;
	}

	&__name-characters {
		transition: all 0.3s ease-out;
		color: $colorTextGray;
	}

	&__value-characters {
		& span {
			&::before {
				content: url(/img/icons/cross.svg);
				width: 8px;
				height: 8px;
				margin-right: 4px;
			}
			&:first-child::before {
				content: '';
				margin-right: 0;
			}
		}
	}
}
