.footer {
	@media (min-width: $md1+px) {
		width: calc(100% - 280px);
	}
	width: 100%;
	border-top: 1px solid $colorMain;
	&__container {
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: stretch;
		@media (max-width: $md2+px) {
			grid-template-columns: 1fr;
		}
	}

	&__shops-wrapper {
		@media (min-width: $md2+px) {
			grid-column: span 4;
		}
		margin-top: 21px;
		@media (max-width: $md2+px) {
			margin-bottom: 20px;
		}
	}

	&__text-icon-wrapper {
	}

	&__icon-location {
	}

	&__column {
		display: flex;
		flex-direction: column;
		margin-top: 32px;
		@media (max-width: $md2+px) {
			margin-top: 0;
		}
	}

	&__title {
		@media (max-width: $md2+px) {
			padding: 8px 0;
			&--underline {
				cursor: pointer;
				border-bottom: 1px solid $colorLight;
			}
		}
		&._active + .footer__items {
			visibility: visible;
			opacity: 1;
			height: auto;
		}
	}

	&__items {
		transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
		flex-direction: column;
		@media (max-width: $md2+px) {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__item {
		display: block;
		color: $colorTextGray;
		margin: 8px 0;
	}

	&__reviews {
	}

	&__review-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 12.59px;
		margin: 10px 0 18px 0;
		&:last-child {
			margin-bottom: 8px;
		}
		& picture {
			display: flex;
			align-items: center;
		}
	}

	&__company {
	}

	&__stars-wrapper {
		display: flex;
		column-gap: 2px;
	}

	&__star {
		display: flex;
		&::before {
			font-size: 16px;
		}
		&.gray::before {
		}
	}

	&__img-container {
		display: flex;
		align-items: center;
		&--social {
			column-gap: 8px;
			margin-top: 4px;
			@media (max-width: $md2+px) {
			}
		}
		&--payment {
			column-gap: 16px;
			& picture {
				display: flex;
				align-items: center;
				margin-top: 8px;
				@media (max-width: $md2+px) {
				}
			}
		}
	}

	&__payment {
		@media (min-width: $md2+px) {
			grid-column: span 3;
		}
		@media (max-width: $md2+px) {
			grid-row: 6/7;
			margin: 32px 0;
		}
	}

	&__politics {
		font-size: 12;
		line-height: 16px;
		margin-top: 39px;
		@media (min-width: $md2+px) {
			grid-column: span 4;
		}
	}

	&__bottom {
		@media (min-width: $md2+px) {
			grid-column: span 4;
		}

		font-size: 12;
		line-height: 16px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 16px 0;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__copyright {
	}

	&__developed {
		display: flex;
		align-items: center;
		column-gap: 4px;
		@media (max-width: $md2+px) {
			margin-top: 32px;
		}
	}

	&__icon-assanov {
		display: flex;
		align-items: center;
		&::before {
			color: $colorMainHover;
			font-size: 16px;
		}
	}

	&__agency {
	}
}
